.money_back {
	margin: 40px 0;
	padding: 60px 0;
	color: #fff;
	background: linear-gradient(54.61deg, #125AA8 -20.75%, #027DA7 165.16%);
}
.money_back > .wrapper {
	color: #fff;
}
.money_back_image {
	text-align: center;
}
.money_back_image img {
	width: 100%;
	max-width: 350px;
	margin-bottom: -6px;
}
/*how_it_works_title*/
.money_back_title {
	margin-bottom: 20px;
}
.money_back_title h2 {
	text-align: center;
	line-height: 1em;
	margin-bottom: 20px;
	font-weight: bold;
}
.money_back_content {
	text-align: center;
}
.money_back_content > p {
	max-width: 650px;
	margin: 0 auto;
}
.money_back_content > p:not(:last-child) {
	margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
	.money_back_image img {
		max-width: 250px;
		margin-bottom: 10px;
	}
}